Time Series EDA

1.Read the Microsoft Data using Pandas Data reader

In [1]:
import pandas_datareader as pdr

In [5]:
import yfinance as yf

In [6]:
df_microsoft = yf.download('MSFT')

[*********************100%***********************]  1 of 1 completed

In [7]:
df_microsoft.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1986-03-13  0.088542  0.101563  0.088542  0.097222   0.059947  1031788800
1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062087   308160000
1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063158   133171200
1986-03-18  0.102431  0.103299  0.098958  0.099826   0.061552    67766400
1986-03-19  0.099826  0.100694  0.097222  0.098090   0.060482    47894400

In [25]:
df_microsoft.loc['2017':'2022']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,62.790001,62.840000,62.130001,62.580002,56.828148,20694100
2017-01-04,62.480000,62.750000,62.119999,62.299999,56.573875,21340000
2017-01-05,62.189999,62.660000,62.029999,62.299999,56.573875,24876000
2017-01-06,62.299999,63.150002,62.040001,62.840000,57.064232,19922900
2017-01-09,62.759998,63.080002,62.540001,62.639999,56.882629,20382700
...,...,...,...,...,...,...
2022-12-23,236.110001,238.869995,233.940002,238.729996,235.345566,21207000
2022-12-27,238.699997,238.929993,235.830002,236.960007,233.600677,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,231.205093,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,237.593231,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,236.420120,21938500

2.Get the maximum price of the share from 2017 to 2022

In [11]:
df_microsoft.loc['2017':'2022'].max()

Open         3.446200e+02
High         3.496700e+02
Low          3.422000e+02
Close        3.431100e+02
Adj Close    3.351058e+02
Volume       1.112421e+08
dtype: float64

3.Which is the date of the highest price of the stock?

In [30]:
import numpy as np

In [31]:
Index1 = df_microsoft.index[np.isclose(df_microsoft['Open'], 3.446200e+02)].tolist()
print(Index1)

[Timestamp('2021-11-22 00:00:00')]

In [32]:
Index2 = df_microsoft.index[np.isclose(df_microsoft['High'], 3.496700e+02)].tolist()
Index3 = df_microsoft.index[np.isclose(df_microsoft['Low'], 3.422000e+02)].tolist()
Index4 = df_microsoft.index[np.isclose(df_microsoft['Close'], 3.431100e+02)].tolist()
Index5 = df_microsoft.index[np.isclose(df_microsoft['Adj Close'], 3.351058e+02)].tolist()
Index6 = df_microsoft.index[np.isclose(df_microsoft['Volume'], 1.112421e+08)].tolist()

In [33]:
print(Index2, Index3, Index4, Index5, Index6)

[Timestamp('2021-11-22 00:00:00')] [Timestamp('2021-11-19 00:00:00'), Timestamp('2023-07-17 00:00:00')] [Timestamp('2021-11-19 00:00:00')] [Timestamp('2021-11-19 00:00:00')] [Timestamp('2018-12-21 00:00:00')]

4.Which is the date of the lowest price of the stock?

In [34]:
df_microsoft.min()

Open         8.854200e-02
High         9.201400e-02
Low          8.854200e-02
Close        9.027800e-02
Adj Close    5.566486e-02
Volume       2.304000e+06
dtype: float64

: